In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv(".\data\StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
df.shape

(1000, 8)

In [5]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [9]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [10]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [13]:
print("Categories in Gender : " ,  df["gender"].unique())
print("Categories in race/ethnicity : " ,  df["race/ethnicity"].unique())
print("Categories in parental level of education : " ,  df["parental level of education"].unique())
print("Categories in lunch : " ,  df["lunch"].unique())
print("Categories in test preparation course : " ,  df["test preparation course"].unique())

Categories in Gender :  ['female' 'male']
Categories in race/ethnicity :  ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in parental level of education :  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in lunch :  ['standard' 'free/reduced']
Categories in test preparation course :  ['none' 'completed']

In [18]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != "O"]
categorical_features = [features for features in df.columns if df[features].dtype == "O"]

print("We have {} numeric features : {}".format(len(numeric_features) , numeric_features))
print("We have {} Categorical features : {}".format(len(categorical_features) , categorical_features))

We have 3 numeric features : ['math score', 'reading score', 'writing score']
We have 5 Categorical features : ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

In [19]:
df["Total Score"] = df["math score"] + df["writing score"] + df["reading score"]
df["Average"] = df["Total Score"]/3

In [20]:
df.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                       int64
reading score                    int64
writing score                    int64
Total Score                      int64
Average                        float64
dtype: object

In [26]:
full_math = df[df["math score"] == 100].value_counts().size
full_reading = df[df["reading score"] == 100].value_counts().size
full_writing = df[df["writing score"] == 100].value_counts().size

print(f"Number of students Scoring Full Marks in Maths : {full_math}")
print(f"Number of students Scoring Full Marks in Reading : {full_reading}")
print(f"Number of students Scoring Full Marks in Writing : {full_writing}")

Number of students Scoring Full Marks in Maths : 7
Number of students Scoring Full Marks in Reading : 17
Number of students Scoring Full Marks in Writing : 14

In [27]:
math_less_20 = df[df["math score"] <= 20].value_counts().size
reading_less_20 = df[df["reading score"] <= 20].value_counts().size
writing_less_20 = df[df["writing score"] <= 20].value_counts().size

print(f"Number of students Scoring less than 20 Marks in Maths : {math_less_20}")
print(f"Number of students Scoring less than 20 Marks in Reading : {reading_less_20}")
print(f"Number of students Scoring less than 20 Marks in Writing : {writing_less_20}")

Number of students Scoring less than 20 Marks in Maths : 4
Number of students Scoring less than 20 Marks in Reading : 1
Number of students Scoring less than 20 Marks in Writing : 3